/**
 * @file
 * Default styling for Geysir dialogs.
 *
 * @see core/themes/classy/css/components/dialog.css
 * @see core/themes/bartik/css/components/ui-dialog.css
 */

.ui-dialog.geysir-dialog {
    border-radius: 0;
    position: absolute;
    z-index: 1260;
    overflow: visible;
    color: #000;
    background: #fff;
    border: solid 1px #ccc;
    padding: 0;
}
@media all and (max-width: 48em) { /* 768px */
    .ui-dialog.geysir-dialog {
        width: 92% !important;
    }
}
.ui-dialog.geysir-dialog .ui-dialog-titlebar {
    font-weight: bold;
    background: #f3f4ee;
    border-style: solid;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: #ccc;
}
.ui-dialog.geysir-dialog .ui-dialog-titlebar-close {
    border: 0;
    background: none;
}
.ui-dialog.geysir-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    background: #f3f4ee;
    padding: .3em 1em;
    border-width: 1px 0 0 0;
    border-color: #ccc;
}
.ui-dialog.geysir-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    margin: 0;
    padding: 0;
}
.ui-dialog.geysir-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
    padding: 0;
}

/* Form action buttons are moved in dialogs. Remove empty space. */
.ui-dialog.geysir-dialog .ui-dialog-content .form-actions {
    padding: 0;
    margin: 0;
}
.ui-dialog.geysir-dialog .ajax-progress-throbber {
    /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
    left: 49%;
    position: fixed;
    top: 48.5%;
    z-index: 1000;
    background-color: #232323;
    background-image: url(../../../../misc/loading-small.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 24px;
    opacity: 0.9;
    padding: 4px;
    width: 24px;
}

.geysir-dialog a.tabledrag-handle .handle {
  box-sizing: content-box;
}

.geysir-dialog .draggable a.tabledrag-handle {
  margin: 1rem 0rem !important;
  padding: 0 !important;
}

.geysir-dialog .tabledrag-toggle-weight-wrapper {
  display: none;
}

.geysir-dialog .geysir-scoped-modal th.field-label {background: #f7f7f7;}

.geysir-dialog .text-format-wrapper > .form-item {
  margin-bottom: 0 !important;
}

.geysir-dialog legend {
  display: inline-block !important;
  width: auto;
  padding: 0 10px !important;
  margin-bottom: -10px;
  font-size: 1.25rem;
}

.geysir-dialog h4 {
  font-family: inherit;
}

.geysir-dialog .form-wrapper fieldset {
  padding: 0 1rem;
}

.geysir-dialog.ui-dialog .ui-dialog-titlebar {
  background: #11689b;
  padding: 10px 15px;
}

.geysir-dialog.ui-dialog .ui-dialog-buttonset .button {
  font-size: 18px;
  font-weight: 600;
  padding: .5rem 1.5rem;
}

.geysir-scoped-modal .counter {
  background: #f7f7f7;
  border: 2px solid #e2e2e2;
  border-width: 0 1px;
  padding: .25em .5em 0;
  margin: 0 !important;
}

.geysir-scoped-modal .counter::before {
  display: none;
}

.geysir-dialog form .field-multiple-table .field-multiple-drag {
  padding: 0;
}

.geysir-dialog .form-wrapper > .form-item:first-child {
  margin-top: 0 !important;
}

.geysir-dialog .length-indicator {
  margin-bottom: 1rem;
}

.geysir-dialog .card-body {
  padding: 0;
  flex: 0;
  -webit-box-flex: 0;
}

.geysir-dialog a.tabledrag-handle .handle {
  box-sizing: content-box;
}

.geysir-dialog .draggable a.tabledrag-handle {
  margin: 1rem 0rem !important;
  padding: 0 !important;
}

.geysir-dialog .tabledrag-toggle-weight-wrapper {
  display: none;
}

.geysir-dialog .geysir-scoped-modal th.field-label {
  background: #f7f7f7;
}

.geysir-dialog .text-format-wrapper > .form-item {
  margin-bottom: 0 !important;
}

.geysir-dialog legend {
  display: inline-block !important;
  width: auto;
  padding: 0 10px !important;
  margin-bottom: -10px;
}

.geysir-dialog h4 {
  font-family: inherit;
}

.geysir-dialog .form-wrapper fieldset {
  padding: 0;
}

.geysir-dialog.ui-dialog .ui-dialog-titlebar {
  background: #11689b;
  padding: 10px 15px;
}

.geysir-dialog.ui-dialog .ui-dialog-buttonset .button {
  font-size: 18px;
  font-weight: 600;
  padding: .5rem 1.5rem;
}

.geysir-scoped-modal .media-library-item__attributes {
  background: none;max-width: 100%;
}

.geysir-scoped-modal .media-library-selection {
  margin: 0;
}

.geysir-scoped-modal .media-library-widget-modal .media-library-item--grid,
.geysir-scoped-modal .media-library-selection .media-library-item--grid {
  margin: 2px 15px 15px 2px;
}

.geysir-scoped-modal .field--type-link .form-item.form-group small {
  display: none;
}

.geysir-scoped-modal .field--type-link .field-multiple-table .field-multiple-drag + td {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.geysir-scoped-modal .field--type-link .field-multiple-table .field-multiple-drag + td > * {
  margin: 1rem 1rem 1rem 0 !important;
  max-width: 300px;
  padding-top: 0;
}

.geysir-dialog .js-media-library-widget-toggle-weight {
  display: none !important;
}

.geysir-dialog .card-header {
  margin: -2rem -1rem 0;
  padding: .5rem 0;
}

.geysir-dialog .form-submit.js-form-submit.button.btn {
  margin: 0 1rem 0 0;
}

.js-color-field-widget-spectrum .form-item {
  margin: 0 .5rem;
}

.js-color-field-widget-spectrum {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.js-color-field-widget-spectrum .form-item input {
  height: 30px;
}

.horizontal-tabs .horizontal-tab-hidden {
  display: none;
}

.geysir-scoped-modal .field--type-link .field-multiple-table .field-multiple-drag + td > .form-wrapper.card {
  border: none;
  display: block;
  background: none;
  margin-left: 1rem !important;
  flex-grow: 1;
}

.geysir-scoped-modal .field--type-link .field-multiple-table .field-multiple-drag + td > .form-wrapper.card[open] {
  height: auto;
}

.media-library-menu li {
  display: block;
}

.media-library-menu.nav {
  display: block;
}

.media-library-wrapper .media-library-view > nav {
  order: 4;
}

.media-library-wrapper .media-library-view > nav .pager__item {
  padding: 0;
}

.media-library-item {
  margin: 0;
}

.media-library-item.is-hover, .media-library-item.checked, .media-library-item.is-focus {
  margin: 0;
}

.media-library-item--grid.is-hover:before, .media-library-item--grid.checked:before, .media-library-item--grid.is-focus:before {
  border: none;
}
